<h1 class="page-header">Reactive Extension Js Collection</h1>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/rx-list/simple-counter']">Simple Counter</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/rx-list/smart-search']">Smart  Search</a></li>
                <li [routerLinkActive]="['active']"> <a [routerLinkActive]="['active']" [routerLink]="['/rx-list/paginated-list']">Paginated List</a></li>
                <li [routerLinkActive]="['active']"> <a [routerLinkActive]="['active']" [routerLink]="['/rx-list/who-to-follow']">Who To Follow</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel-group">
    <router-outlet></router-outlet>
</div>