<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <i class="icon-calendar"></i>
        <h3 class="panel-title">Github Search</h3>
    </div>

    <div class="panel-body">
        <form [formGroup]="gitForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-xs-8">
                <label for="searchTerm">Search term</label>
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" id="searchTerm" formControlName="searchTerm" />
                </div>
                <p *ngIf="errorMessage" class="help-block">
                    {{ errorMessage }}
                </p>
            </div>
            <div class="form-group col-xs-4">
                <label>Page Size</label>
                <select formControlName="pageSize" class="form-control">
			        <option *ngFor="let pgSize of pageSizeList" [value]="pgSize">{{ pgSize }}</option>
		        </select>
            </div>
        </form>

        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Full Name</th>
                        <th>Language</th>
                        <th>HTML URL</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr *ngFor="let gitRep of gitRepList$ | async">
                        <th scope="row">{{gitRep.id}}</th>
                        <td>{{gitRep.name}}</td>
                        <td>{{gitRep.full_name}}</td>
                        <td>{{gitRep.language}}</td>
                        <td>{{gitRep.html_url}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination [total]="totalCount$ | async" [page]="pageIndex" (pageClickEvt)="pageHandler($event)"></pagination>

        </div>
    </div>

</div>