<ul *ngIf="totalPages() > 1" class="pagination pagination-sm no-margin pull-right">
    <li *ngIf="page != 1"><a (click)="pageClicked(prevPage())">«</a></li>
    <li *ngFor="let p of pagesRange()" [class.active]="page == p"><a (click)="pageClicked(p)">{{p}}</a></li>
    <li *ngIf="totalPages() > page"><a (click)="pageClicked(nextPage())">»</a></li>
</ul>
<div class="col-md-3">
    <select *ngIf="totalPages() > 1" [ngModel]="page" (change)="pageClicked($event.target.value)">
			        <option *ngFor="let pgNum of pageValues() | async" [value]="pgNum">{{ pgNum }}</option>
		        </select>
</div>