<div>

    <ul>
        <li><a href="https://medium.com/tixdo-labs/angular-2-dynamic-component-loader-752c3235bf9#.lnnd39na6" title='Angular 2 dynamic component loader'>Angular 2 dynamic component loader</a></li>
        <li><a href="https://www.lucidchart.com/techblog/2016/07/19/building-angular-2-components-on-the-fly-a-dialog-box-example/" title='Angular 2 dynamic component loader'>BUILDING ANGULAR 2 COMPONENTS ON THE FLY: A DIALOG BOX EXAMPLE</a></li>
    </ul>
    
     <router-outlet></router-outlet>
</div>