<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>
<div class="panel-group">

    <h1>User List</h1>
    <h3>Users:</h3>
    <ul>
        <li *ngFor="let user of users">{{user.name}}</li>
    </ul>

    <form [formGroup]="userForm"  #theForm="ngForm" novalidate (ngSubmit)="addUser()">
        <div class="form-group">
            <label for="name">Name</label>

            <input #txtUserName type="text" id="userName" class="form-control" formControlName="userName">
            <em *ngIf="userForm.controls.userName.hasError('required')">Required</em>
            <em *ngIf="userForm.controls.userName.hasError('usernameTaken')">user name exists</em>

        </div>

        <button type="submit" class="btn btn-primary pull-right" [disabled]="!userForm.valid">Submit</button>

        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
        <pre>{{userForm.controls.userName.errors | json}}</pre>
        <pre>{{ txtUserName.value | json}}</pre>
        <pre>{{ theForm.value | json}}</pre>
    </form>
</div>