<div class="panel-group">

    <h1>User List</h1>
    <h3>Users:</h3>
    <ul>
        <li *ngFor="let user of users">{{user.name}}</li>
    </ul>

    <form [formGroup]="userForm" novalidate (ngSubmit)="addUser()">
        <div class="form-group">
            <label for="name">Name</label>

            <input type="text" id="userName" class="form-control" formControlName="userName">
             <em *ngIf="userForm.controls.userName.hasError('required')">Required</em>
             <em *ngIf="userForm.controls.userName.hasError('usernameTaken')">user name exists</em>

        </div>

       <button type="submit" class="btn btn-primary pull-right" [disabled]="!userForm.valid">Submit</button>

        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
        <pre>{{userForm.controls.userName.errors | json}}</pre>
    </form>
</div>