<h2 class="sub-header">Customer Dynamic Static Form Reactive</h2>
<div class="rows">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>

            <input type="text" id="name" class="form-control" formControlName="name">

            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>

        </div>

        <div formArrayName="addresses">
            <div *ngFor="let address of addressesFormArray.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                    <span>Address {{i + 1}}</span>
                    <span class="glyphicon glyphicon-remove pull-right" *ngIf="addressesFormArray.controls.length > 1" (click)="removeAddress(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                    <address [group]="address" [addressError]="addressErrors[i]"></address>
                </div>
            </div>
        </div>

        <div class="margin-20">
            <a (click)="addAddress()" style="cursor: default"> Add another address +</a>
</div>

<div class="margin-20">
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!customerForm.valid">Submit</button>
</div>
<div class="clearfix"></div>

<div class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{customerForm.valid | json}}</pre>
    <pre>form value: <br>{{customerForm.value | json}}</pre>
</div>
</form>
</div>